doctype html
html(ng-app='certe')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		base(href='/')
		script(src='/components/angular/angular.min.js')
		script(src='/components/angular-route/angular-route.min.js')
		script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src='/components/angular-resource/angular-resource.min.js')
		script(src='/libs/angular/app.js')
		script(src='/libs/angular/controllers.js')
		script(src='/libs/angular/services.js')
		link(rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/libs/css/style.css')
	body
		.container

			.panel.panel-default
				.panel-heading
					h3.panel-title angular trainer
				.panel-body
					div(ng-view)
